@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

$lato-family: 'Lato',
sans-serif;

$poppins-family: 'Poppins',
sans-serif;

$exo-family: 'Exo',
sans-serif;

// $dark-bg-color: #2d2d30;
$dark-bg-color:#030102;
$white: white;
$mint-1: #ebfbf4;
$mint-2: #d5f8e8;
$mint-3: #c0f4dd;
$mint-4: #94ecc5;