<form action="http://localhost:5050/users/profile/createnotice/added" method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">From</label>
      <input type="text" name="from" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">To</label>
        <input type="text" name="to" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Notice Title</label>
        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" >
      </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Notice Body</label>
      <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit">Create Notice</button>
  </form>