<html>
    <head>

    </head>
    <body>
        <p>You are in the Secretary page</p>
        <input type="button" id="employee" onClick="location.href='http://localhost:5050/users/profile/viewemployee'" value="View Employees" style="margin: auto; display: block;"></input><br></br>

        <input type="button" id="viewowner"  onClick="location.href ='http://localhost:5050/users/profile/viewowners' " value="View Owners" style="margin:auto; display:block;"></input><br></br>
        <input type="button" id="createowner" onClick="location.href='http://localhost:5050/users/register' " value="Register New Flat Owner" style="margin:auto; display:block;"></input><br></br>
        <input type="button" id="complaints" onClick="location.href='http://localhost:5050/users/profile/viewcomplaints' " value="View Complaints" style="margin:auto; display:block;"></input><br></br>
        <input type="button" id="Dues" onClick="location.href='http://localhost:5050/users/profile/viewdues' " value="Dues Pending" style="margin:auto; display:block;"></input><br></br>
        <input type="button" id="notice" onClick="location.href='http://localhost:5050/users/profile/createnotice'" value="New Notice" style="margin: auto; display: block;"></input><br></br>
        <input type="button" id="letters" onClick="location.href='http://localhost:5050/users/profile/createletter'" value="New Letter" style="margin: auto; display: block;"></input><br></br>

    </body>
</html>