.header {
  padding: 1.75rem 0.5rem;
  width: 100%;
  background: #4554dc;
  text-align: center; }

#logo {
  width: 100%; }
  #logo path {
    stroke: white; }

#logo path:nth-child(1) {
  stroke-dasharray: 178.17612;
  stroke-dashoffset: 178.17612;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(2) {
  stroke-dasharray: 163.43068;
  stroke-dashoffset: 163.43068;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(3) {
  stroke-dasharray: 183.02191;
  stroke-dashoffset: 183.02191;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(4) {
  stroke-dasharray: 164.63788;
  stroke-dashoffset: 164.63788;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(5) {
  stroke-dasharray: 178.17601;
  stroke-dashoffset: 178.17601;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(6) {
  stroke-dasharray: 163.43068;
  stroke-dashoffset: 163.43068;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(7) {
  stroke-dasharray: 147.22812;
  stroke-dashoffset: 147.22812;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(8) {
  stroke-dasharray: 163.43066;
  stroke-dashoffset: 163.43066;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(9) {
  stroke-dasharray: 183.02254;
  stroke-dashoffset: 183.02254;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(10) {
  stroke-dasharray: 190.52599;
  stroke-dashoffset: 190.52599;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(11) {
  stroke-dasharray: 178.17601;
  stroke-dashoffset: 178.17601;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(12) {
  stroke-dasharray: 163.43074;
  stroke-dashoffset: 163.43074;
  animation: line-anim 3.5s ease forwards 2; }

#logo path:nth-child(13) {
  stroke-dasharray: 201.49435;
  stroke-dashoffset: 201.49435;
  animation: line-anim 3.5s ease forwards 2; }

@keyframes line-anim {
  to {
    stroke-dashoffset: 0; } }
