@import "../../variables";

.footer {
  font-family: $exo-family;
  font-size: 1.5rem;
  color: $white;
  background: $dark-bg-color;
  // margin-top: 3rem;
  margin-bottom: 0rem;
  padding: 1rem 3rem 3rem 3rem;
}

.title {
  font-size: 1em;
  text-align: center;
}

@mixin bg-image-icon ($url) {
  background-image: url(#{$url});
  background-repeat: no-repeat;
  background-size: 1.7em;
  background-position: 0.5em;
}

.contact-list {
  font-size: 0.5em;
  margin: 0;
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-transform: capitalize;
  flex-wrap: wrap;

  li {
    width: max-content;
    padding: 0.5rem 2rem 0.5rem 2rem;
		a {
			text-decoration: none;
			color: inherit;
		}
  }

  .twitter-link {
    @include bg-image-icon('../../assets/twitter-blue-32px.png');
  }

  .medium-link {
    @include bg-image-icon('../../assets/medium-32px.png');
  }

  .github-link {
    @include bg-image-icon('../../assets/gitub-light-32px.png');
  }

  .email-link {
    @include bg-image-icon('../../assets/gmail-32px.png');
  }
}