<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3">OTP</h1>
			<% include ./partials/messages %>
			<div class="resend-success-fail"></div>
			<form action="/users/confirmotp/<%= typeof user_id !== 'undefined' ? user_id : ''%>" method="POST">
				<div class="form-group">
					<label for="otp">OTP</label>
					<input
						type="text"
						id="otp"
						name="otp"
						class="form-control"
						placeholder="Enter OTP"
						value="<%= typeof otp !== 'undefined' ? otp : '' %>"
						required
					/>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</form>
			<p class="lead mt-4">
				Did not receive? 
				<button
					type="button"
					id="resend-otp"
					class="btn-resend"
					data-user_id = "<%= typeof user_id !== 'undefined' ? user_id : ''%>"
				>
					Resendke
				</button>
			</p>
		</div>
	</div>
</div>
