<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3">OTP</h1>
			<% include ./partials/messages %>
			<form action="/users/confirmotp/<%= typeof user_id != 'undefined' ? user_id : ''%>" method="POST">
				<div class="form-group">
					<label for="otp">OTP</label>
					<input
						type="text"
						id="otp"
						name="otp"
						class="form-control"
						placeholder="Enter OTP"
					/>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</form>
			<p class="lead mt-4">
				Did not receive? <a href="/users/register">resend</a>
			</p>
		</div>
	</div>
</div>
