<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
			media="print"
			onload="this.media='all'"
			integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0="
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="/styles/styles.min.css"
		/>
		<style>
			/* body {
				background-image: url(https://images.unsplash.com/photo-1419454073861-6e5bccea68ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
				background-size: cover;
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;
			} */
		</style>
		<title>Apartments Management</title>
	</head>
	<body>
			<nav
				class="navbar navbar-dark bg-primary navbar-expand-md sticky-top"
			>
			<!-- style="background: #251439;background: inherit;	" -->
				<a class="navbar-brand justify-selft-start" href="/"
					>Apartment Management</a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="nav navbar-nav ml-auto">
						<a class="nav-item nav-link mr-sm-2" href="/">Home</a>
						<a class="nav-item nav-link mr-sm-2" href="#">About</a>
						<a class="nav-item nav-link mr-sm-2" href="#">Features</a>
						<% if(typeof user_id !== 'undefined') { %>
							<a class="nav-item nav-link mr-sm-2" href="/users/logout">Logout</a>
							<a class="nav-item nav-link mr-sm-2" href="<%=`/users/profile/${user_id}`%>">Profile</a>
							<a class="nav-item nav-link mr-sm-2" href="<%=`/users/add-tenant/${user_id}`%>">Add tenant</a>
							<% } else { %>
								<a class="nav-item nav-link mr-sm-2" href="/users/login">Login</a>
								<a class="nav-item nav-link mr-sm-2" href="/users/register">Register</a>
						<% } %>
					</div>
				</div>
			</nav>
		
    <%- body %>
    
    <% include ./footer/index %>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s="
			crossorigin="anonymous"
		></script>
		<script src="/js/app.min.js" async></script>
	</body>
</html>
