<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<p>Your password setup link has been sent successfully.
			</p>
			<p class='lead mt-4'>
				Did not receive?
				<a href="http://">Resend</a>
			</p>
		</div>
	</div>
</div>
