<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<p>Your password setup link has been sent successfully.
			</p>
			<div class="resend-success-fail"></div>
			<a class="btn-resend" href = "/">
				go to home
			</a>
			<p class='lead mt-4'>
				Did not receive?
				<button
					type="button"
					id="resend-setup-link"
					class="btn-resend"
					data-user_id = "<%= typeof user_id !== 'undefined' ? user_id : ''%>"
				>
					Resend
				</button>
			</p>
		</div>
	</div>
</div>
