@import "../../variables";

.nav-buttons-row {
  display: flex;
}

.nav-button {
  font-family: $lato-family;
  padding: 0.25rem 0.4rem;
  font-size: 1em;
  background: $dark-bg-color;
  color: $mint-2;
  border: 1.5px solid transparent;
  border-radius: 5px;
  margin-right: 3rem;
  // transition: border 400ms;

  &:hover {
    // opacity: 0.8;
    cursor: pointer;
    border: 1.5px solid $white;
    transition: border 500ms;
    // box-shadow: 2px 2px $mint-2;
  }
}

@media screen and (max-width: 1000px) {
  .nav-buttons-row {
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 415px) {
  .nav-buttons-row {
    flex-direction: column;
  }
  .nav-button {
    margin: 0;
  }
}