<div class="menu-container">
	<ul class="menu">
		<a href="/users/president/view-flatowners">
			<li class="btn btn-primary">View flat owners' profile</li>
		</a>
		<a href="/users/profile/viewcomplaints">
			<li class="btn btn-primary">View complaints</li>
		</a>
		<a href="/users/president/viewnotices">
			<li class="btn btn-primary">View notices</li>
		</a>
	</ul>
</div>