<div class="menu-container">
		<ul class="menu">
			<a href="/users/treasurer/view-flatowners">
				<li class="btn btn-primary">View flat owners' profile</li>
			</a>
			<a href="#">
				<li class="btn btn-primary">Create a payment record</li>
			</a>
			<a href="#">
				<li class="btn btn-primary">View another resp</li>
			</a>
			<a href="#">
				<li class="btn btn-primary">View another resp</li>
			</a>
			<a href="#">
				<li class="btn btn-primary">View another resp</li>
			</a>
			<a href="#">
				<li class="btn btn-primary">View another resp</li>
			</a>
		</ul>
	</div>