<div>
    <form action="http://localhost:5050/users/profile/addemployee" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Emp name</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  style="margin: auto;display: block;">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Duty</label>
              <input type="text" name="duty" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Dutytime</label>
                <input type="text" name="dutytime" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Shift</label>
                <input type="text" name="shift" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Date from</label>
                <input type="text" name="datefrom" class="form-control" id="exampleInputPassword1" >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Date To</label>
                <input type="text" name="dateto" class="form-control" id="exampleInputPassword1" >
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>