/* .form-shadow {
	box-shadow: black 0px 19px 40px 20px;
}
.profile-pic {
	width: 100%;
}*/
@media screen and (max-width: 1024px) {
	.forms-container {
		margin: 0 !important;
	}
	.details-form, .profile-details-form, .pics-form {
		max-width: 100% !important;
	}
	.details-form form {
		margin: 0 !important;
	}
	.profile-details-form form {
		margin: 0 !important;
	}
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.profile-container {
	width: 100%;
}

.hidden{
	display: none;
}

.all-details {
	width: 65%;
	margin:2rem auto;
	padding: 2rem;
	border-radius: 5px;
}

.edit-profile-btn {
	width: max-content;
	margin-top: 5px;
}
.edit-profile-btn a{
	text-decoration: none;
}

.essent-details { /*.payment-record-details*/
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.proof-details {
	display: flex;
	justify-content: center;
}

.proof-img {
	width: 50%;
}
.profile-pic-card {
	width: 160px;
	height: 160px;
	text-align: center;
}
.profile-pic, .profile-pic-card img{
	max-width: 100%;
	max-height: 100%;
}
.detail, .detail-name{
	margin: 0;
	padding: 0;
}
.detail ul{
	display: flex;
}
/* .detail i{
	width: 26px;
	text-align: center;
} */
/* .detail .title {
	margin: 0;
	padding: 0;
} */
.profile-details {
	list-style: none;
	display: flex;
	flex-direction: column;
}