<div>
<form action="http://localhost:5050/users/profile/addcomplaints" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Complaint Against</label>
          <input type="text" name="against" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="margin: auto;display: block;">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Complaint</label>
          <input type="text" name="cause" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>