<div id="footer" class="mt-5 bg-light">
		<div class="container-fluid py-5">
			<div class="text-center text-xs-center text-sm-left text-md-left">
				<div>
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/"><i class="fa fa-angle-double-right"></i>About</a></li>
					</ul>
				</div>
				<div>
					<h5>Contact Information</h5>
					<ul class="list-unstyled quick-links">
						<li>Address: NITK surathkal</li>
						<li>Mangalore</li>
						<li>Karnataka</li>
					</ul>
				</div>
			</div>
		</div>
	</div>