<div id="footer" class="mt-5 bg-light">
		<div class="container-fluid py-5">
			<div class="text-center text-xs-center text-sm-left text-md-left">
				<div>
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div>
					<h5>Contact Information</h5>
					<ul class="list-unstyled quick-links">
						<li>Address: Address goes here</li>
						<li>Phone: Phone number goes here</li>
						<li>Email: Email goes here</li>
					</ul>
				</div>
			</div>
		</div>
	</div>