<div class="container-fluid intro">
	<section class="col-sm-6 text-center description">
		<h1 class="jumbotron-heading">Welcome to Apartment Management System</h1>
		<p class="lead font-italic font-weight-normal">
			The Apartment management system is the best apartment management system. Leading world apartment management system.
		</p>
	</section>
</div>
