<div class="container-fluid intro">
	<section class="col-sm-6 text-center description">
		<h1 class="jumbotron-heading">Lorem ipsum dolor sit amet.</h1>
		<p class="lead font-italic font-weight-normal">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic
			reprehenderit quod corrupti repellat, illo magnam?Lorem ipsum dolor sit
			amet.
		</p>
	</section>
</div>
