<div class="container-fluid treasurer-profile my-5">
		<% include ../partials/treasurer_menu %>
		<div class="view-payment-details">
			<%#JSON.stringify(payments)%>
			<% if(typeof payments === 'undefined' || payments.length === 0) { %>
				<h4>No payment records yet</h4>
			<% } else { %>
				<table class="consolidated-payments-table">
						<tr>
							<th>Name</th>
							<th>Flat</th>
							<th>Type</th>
							<th>Mode</th>
							<th>Amount</th>
							<th>Created on</th>
						</tr>
						<% payments.forEach(function(payment){ %>
							<%- include('./payments_table.ejs', payment); %>
						<% }) %>
					</table>
					<div style="text-align: right;">
						Total: <%= payments.reduce(function(acc, cur){return acc + parseFloat(cur.amount)}, 0)%>
					</div>
				<% } %>
		</div>
	</div>