.intro {
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1419454073861-6e5bccea68ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80');
	/* 
		https://images.unsplash.com/photo-1555331446-6690621341e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80
		https://images.unsplash.com/photo-1558904749-133e7de91569?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80 
		https://images.unsplash.com/photo-1419454073861-6e5bccea68ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80 
	*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;	
	background-repeat: no-repeat;
}

.description {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.team-gallery {
	/* height: 100vh; */
	padding: 2rem 0;
}

/* .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
} */
.profiles-row {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	padding: 0 15%;
	justify-content: space-evenly;
	align-items: center;
}
/* Create four equal columns that sits next to each other */
/* .column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
} */
.profile-img {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 160px;
	margin: 0 4px;
	margin-top: 8px;
	/* border-radius: 25px; */
	border: 1px solid;
	border-radius: 2px;
}

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */

.profile-img img {
	width: 100%;
	/* margin-top: 8px; */
	vertical-align: middle;
	border-radius: 2px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.profile-img {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.profile-img {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
